footer
	section.py-5
		.container
			.row
				.col-12.col-lg-3.mb-3.mb-lg-0.order-3.order-lg-1.text-center
					img.logotype.mb-3(src='./images/logotype-light.svg' alt='logotype')
				.col-12.col-lg-3.mb-3.mb-lg-0.order-1.order-lg-2
					h6 About Us
					nav
						a.link(href='/') Home
						a.link(href='/about.html') About Us
						a.link(href='/termsoftrade.html') Terms of Trade
						a.link(href='https://calendar.google.com/calendar/embed?src=naturetalesinfo%40gmail.com&ctz=Europe%2FCopenhagen') Calendar
				.col-12.col-lg-3.mb-3.mb-lg-0.order-2.order-lg-3
					h6 Contact Us
					nav
						a.link(href='mailto:info@naturetales.org' target='blank_') info@naturetales.org
						a.link(href='https://www.facebook.com/naturetalescommunity' target='blank_') Facebook
						a.link(href='https://www.instagram.com/naturetales.studio/' target='blank_') Instagram
	section
		.container
			.row.justify-content-center.align-content-center
				.col-12.col-sm-8
					p.m-0
						address.mb-0.text-center
							// <p class="mb-0">Made from Chile with love</p>
							span.mb-0 Address / William Wains Gade 11 1st th. 1432, Copenhagen, Denmark.
<script src="./js/jquery-3.5.1.min.js"></script>
<script src="./js/pace.js"></script>
<script src="./js/aos.js"></script>