doctype html
head
	meta(charset='UTF-8')
	title Nature Tales | #{pagetitle}
	meta(name='viewport' content='width=device-width, initial-scale=1')
	meta(name='description' content='Contemporary Mindfulness through Vibrations, Sounds and Conscious Movement')
	meta(name='”robots”' content='”index,follow”')
	meta(name='keywords' content='Vibroacoustic, Massages, Sounds, Concerts, Yoga, Meditation, Relaxation,   Dance, Ceremonies, Community')
	link(rel='icon' type='image/png' href='favicon.png' sizes='64x64')
	meta(name='author' content='https://comun.work')
	link(rel='canonical' href='http://naturetales.org/')
	meta(property='og:site_name' content='Nature Tales')
	meta(property='og:title' content='Nature Tales')
	meta(property='og:type' content='website')
	meta(property='og:url' content='https://naturetales.org')
	meta(property='og:image' content='https://naturetales.org/images/ogimage.jpg')
	meta(property='og:description' content='Contemporary Mindfulness through Vibrations, Sounds and Conscious Movement.')
	link(href='https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap' rel='stylesheet')
	link(rel='stylesheet' href='https://unpkg.com/flickity@2/dist/flickity.min.css')
	link(rel='stylesheet' type='text/css' href='css/style.css')
	//- Global site tag (gtag.js) - Google Analytics
	script(async='' src='https://www.googletagmanager.com/gtag/js?id=UA-79169358-7')
	script.
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', 'UA-79169358-7');
body
	//- <!-- Chat -->
	//- <!-- Load Facebook SDK for JavaScript -->
	<div id="fb-root"></div>
	<script></script>
	//- <!-- Your customer chat code -->
	<div class="fb-customerchat" attribution=setup_tool page_id="475738506254897"theme_color="#568B88"></div>