<section class="map my-3" id="find-us">
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-4 align-content-center d-flex">
				<div class="row align-content-center">
					<div class="col-12 col-md-8 ml-auto text-center text-sm-left ">
						
							<h2 class="my-3">Find Us</h2>
							<p>William Wains Gade 11 1st th. 1432, Copenhagen, Denmark.</p>
							<a href="https://www.google.com/maps/dir//55.696599,12.612452/@55.696599,12.612452,16z?hl=en" target="blank" class="btn btn-primary mb-3">Get Directions</a>
						
					</div>
				</div>
			</div>
			<div class="col-12 col-md-8">
				<div class="card embed-responsive embed-responsive-16by9">
					<div id="map"></div>
				</div>
			</div>
		</div>
	</div>
</section>